<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gotsoccer Compare</title>
</head>

<body>
    <h2>Game Changes</h2>
    <div th:if="${scheduleChanges.gameChanges}">
        <th:block th:each="gameChange : ${scheduleChanges.gameChanges}">
            <h4 th:text="'Match #: ' + ${gameChange.matchNumber}"></h4>
            <table border="1">
                <tr>
                    <th>Column Name</th><th>Before</th><th>After</th>
                </tr>
                <tr th:each="gameValueChange : ${gameChange.gameValueChanges}">
                    <td th:text="${gameValueChange.columnName}" /><td th:text="${gameValueChange.before}" /><td th:text="${gameValueChange.after}" />
                </tr>
            </table>
        </th:block>
    </div>
    <h4 th:if="${#lists.isEmpty(scheduleChanges.gameChanges)}">No Game Changes</h4>

    <h2>New Games</h2>
    <div th:style="${#lists.isEmpty(scheduleChanges.newGames) ? 'display:none;' : 'display:block;'}">
        <table border="1">
            <tr>
                <th>Match #</th><th>Date</th><th>Time</th><th>Home Team</th><th>Away Team</th><th>Division</th><th>Age</th><th>Location</th>
            </tr>
            <tr th:each="game: ${scheduleChanges.newGames}">
                <td th:text="${game.matchNumber}" /><td th:text="${game.date}" /><td th:text="${game.time}" /><td th:text="${game.homeTeam}" />
                <td th:text="${game.awayTeam}" /><td th:text="${game.division}" /><td th:text="${game.age}" /><td th:text="${game.location}" />
            </tr>
        </table>
    </div>
    <h4 th:if="${#lists.isEmpty(scheduleChanges.newGames)}">No New Games</h4>
</body>
<p>--------------------------------------------------------------</p>
<!--------------------->
</html>


