<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<style>
    * {font-family: sans-serif;}
</style>

<head>
    <meta charset="UTF-8">
    <title>Gotsoccer Compare</title>
</head>

<body style="background-color:lightgreen; font-family:Palatino;" >
    <h2>Authenticate</h2>
    <form action="#" th:action="@{/authenticate}" th:object="${myPassword}" method="post">
        <p>Password: <input type="text" th:field="*{password}" /></p>
        <p><input type="submit" value="Submit" /></p>
    </form>

    <hr>

    <div th:style="${isPasswordAuthenticated ? 'display:block;' : 'display:none;'}">
        <h2>Upload Schedules</h2>
        <div>
            <form enctype="multipart/form-data" th:action="@{/gotsoccer/upload}" th:object="${scheduleType}" method="post">
                <table>
                    <tr>
                        <td>
                            <label for="scheduleType">Type</label>
                        </td>
                        <td>
                            <select th:field="*{value}" id="scheduleType">
                                <option th:value="'gotSoccer'" th:text="GotSoccer"></option>
                                <option th:value="'totalGlobalSports'" th:text="TotalGlobalSports"></option>
                            </select>
                        </td>
                    </tr>
                    <tr><td>Before Rainout:</td><td><span style="color:red"><input type="file" name="files"/></span></td></tr>
                    <tr><td>After Rainout:</td><td><span style="color:red"><input type="file" name="files"/></span></td></tr>
                    <tr><td></td><td><input type="submit" value="Upload" /></td></tr>
                </table>
            </form>
        </div>

        <hr>

        <h2>Game Changes</h2>
        <div th:if="${scheduleChanges.gameChanges}">
            <th:block th:each="gameChange : ${scheduleChanges.gameChanges}">
                <h4 th:text="'Match #: ' + ${gameChange.matchNumber}"></h4>
                <table border="1">
                    <tr>
                        <th>Column Name</th><th>Before Rainout</th><th>After Rainout</th>
                    </tr>
                    <tr th:each="gameValueChange : ${gameChange.gameValueChanges}">
                        <td th:text="${gameValueChange.columnName}" /><td th:text="${gameValueChange.before}" /><td th:text="${gameValueChange.after}" />
                    </tr>
                </table>
            </th:block>
        </div>
        <h4 th:if="${#lists.isEmpty(scheduleChanges.gameChanges)}">No Game Changes</h4>

        <hr>

        <h2>New Games</h2>
        <div th:style="${#lists.isEmpty(scheduleChanges.newGames) ? 'display:none;' : 'display:block;'}">
            <table border="1">
                <tr>
                    <th>Match #</th><th>Date</th><th>Time</th><th>Home Team</th><th>Away Team</th><th>Division</th><th>Age</th><th>Location</th><th>Venue</th>
                </tr>
                <tr th:each="game: ${scheduleChanges.newGames}">
                    <td th:text="${game.matchNumber}" /><td th:text="${game.date}" /><td th:text="${game.time}" /><td th:text="${game.homeTeam}" />
                    <td th:text="${game.awayTeam}" /><td th:text="${game.division}" /><td th:text="${game.age}" /><td th:text="${game.location}" /><td th:text="${game.venue}" />
                </tr>
            </table>
        </div>
        <h4 th:if="${#lists.isEmpty(scheduleChanges.newGames)}">No New Games</h4>
    </div>
</body>
</html>


